<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
  <%- include('partials/header') %>
    <main>
            <section class="main-video">
  <div class="video-wrapper">
    <iframe
      src="https://www.youtube.com/embed/FDEqrgVP19A?autoplay=1&mute=1&loop=1&playlist=FDEqrgVP19A&controls=0&rel=0"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </div>
</section>
      <section class="profile-hero">
        <div class="profile-left">
          <p class="sub-title">세금도 간편하게 톡!</p>
          <h2 class="main-title">
            잘 내고 잘 돌려받는<br />
            세무서비스, KENVIN's TAX LAB.
          </h2>
          <a href="/apply" class="btn-primary">상담 신청하기</a>
        </div>
        <div class="profile-right">
          <img src="/img/profile.png" alt="이재희 대표세무사" class="profile-photo" />
          <p class="caption">권도윤 대표세무사</p>
        </div>
        
      </section>

    </main>

    <%- include('partials/footer') %>
</body>

</html>