<!-- views/intro.ejs -->
<%- include('partials/header') %>

<section class="container">
  <h1 class="text-3xl font-bold mb-4">케빈택스 소개 영상</h1>

  <div class="video-wrapper" style="position: relative; padding-bottom: 56.25%; height: 0;">
    <iframe
      src="https://www.youtube.com/embed/FDEqrgVP19A?autoplay=1&mute=1&loop=1&playlist=FDEqrgVP19A&controls=0&rel=0"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    </iframe>
  </div>
</section>

<%- include('partials/footer') %>